footer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;

  background: white;

  text-align: center;
}
footer:before,
footer:after {
  content: "";
  position: absolute;
  left: 65%;
  top: 50%;
  height: 1px;
  width: 35%;

  /* background-color: gray; */
  background-image: linear-gradient(90deg, #888, aliceblue);
}
footer:after {
  left: 0;
  background-image: linear-gradient(90deg, aliceblue, #888);
}
